.todo-container {
  width: 550px;
  margin: 40px auto;
}

.todo-list-container {
  background: white;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 15px auto;
  overflow: hidden;
}
