.todo-footer-container {
  position: relative;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.todo-menus button {
  color: #777;
  font-weight: 300;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.todo-menus button.active,
.todo-menus button:hover {
  border: 1px solid rgba(175, 47, 47, 0.2);
}

.todo-count {
  color: #777;
  font-weight: 300;
  position: absolute;
  left: 20px;
}
